{% extends 'base.html' %}
{% load static %}
{% block content %}
{% block extra_css %}
<style>
#success-message.tip {
    border-bottom: 1px;
    text-decoration: none
}
#success-message.tip:hover {
    position: relative
}
#success-message.tip span {
    display: none
}
#success-message.tip:hover span {
    border: #c0c0c0 1px;
    padding: 5px 20px 5px 5px;
    display: block;
    z-index: 100;
    background: url(../images/status-info.png) grey  no-repeat 100% 5%;
    left: 0px;
    margin: 10px;
    width: 290px;
    position: absolute;
    top:10px;
    text-decoration: none
}
</style>
{% endblock %}
<div class="section">
{% if messages %}
{% for message in messages %}
<div class="text-center"><b class="alert {{message.tags}} message">{{message}}</b></div>
{% endfor %}
{% endif %}
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- Post content -->
            <div class="col-md-8">
                <div class="section-row ">
                    <div class="main-post ">
                        <p>{{question.question}}</p>
                        <div class="post-comments">
                               <div class="media">
                          <div class="media-body">
                                 <div class="card pull-right text-white bg-secondary mb-3" style="width: 13rem;">
                                      <div class="media-heading">
                                    <span class="time">
                                        <b>Posted by</b>
                                    </span>
                                </div>
                                  <div class="card-body">
                                      <small>
                                          {{question.user.first_name}}
                                          {{question.user.last_name}}</b></small>
                                      <small class="mb-2 text-muted">
                                          <small>&nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; {{question.created|timesince}}
                                              ago
                                          </small>
                                      </small>
                                  </div>
                              </div>
                                <div class="media-heading">
                                    <span class="time">
                                     <b>30 Votes  15 Views</b>
                                    </span>
                                </div>
                              <div class="btn-toolbar">
                                  <form action="{% url 'qa:vote_ques' question.pk %}" method="post" id="q-vote-form">
                                      {% csrf_token %}
                                      <button type="submit" id="success-message"
                                              class="{% if voted %}btn btn-danger btn-sm pull-left disabled{% else %} btn btn-success btn-sm pull-left tip{% endif %}">
                                          {% if voted %}Voted{% else %}Vote{% endif %}<span>Once you voted the post you can not undo again.</span>
                                      </button>
                                  </form>

                                  <a id="formButton"><button class="btn btn-info btn-sm">
                        Post your Answer</button></a>
                    </div>
                    <form class="post-reply" method="post" action="{% url 'qa:post_ans' question.pk %}" id="form1" style="display:none;">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <textarea class="input" name="ans" placeholder="Your Answer"></textarea>
                                </div>
                                <button class="btn btn-info">Submit</button>
                            </div>
                        </div>
                    </form>

                          </div>
                           </div>
                        </div>


                    </div>

                <div class="section-row">
                </div>
                </div>
                <div class="section-row">
                       <h4>&nbsp;{{question.answers.all.count}} Answers</h4>
                    <div class="post-comments">
                        {% for answer in question.answers.all %}
                        <!-- comment -->
                        <div class="media">
                            <div class="media-left">
                                {% if answer.user.profile.image %}
                                <img class="rounded-circle img-fluid mx-auto d-block" src="{{answer.user.profile.image.url}}" style="height: 25px; width: 25px; border-radius: 50%; object-fit: cover;" >
                                {% else %}
                                <img class="rounded-circle img-fluid mx-auto d-block" src="{% static 'img/no-profile.jpg' %}" style="height: 25px; width: 25px; border-radius: 50%; object-fit: cover;" >
                                {% endif %}
                            </div>
                            <div class="media-body">
                                <div class="media-heading">
                                    <h4>{{answer.user.first_name}} {{answer.user.last_name}}</h4>
                                    <small class="mb-2 text-muted">Answered {{answer.created|timesince}} ago
                                        <span class="pull-right"><b>30 Votes</b> </span>
                                    </small>
                                </div>
                                <p>{{answer.ans}}</p>
                                 <div class="btn-toolbar">
                                <button type="button" class="btn btn-success btn-sm pull-right">Vote</button>

                            </div>

                                <a id="commentButton{{answer.pk}}" style="text-decoration:none;"><h5
                                        class="text-muted">Reply</h5></a>
                                <form class="post-reply" id="commentForm{{answer.pk}}" style="display:none;">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="form-group">
                                            <textarea class="form-control" name="message" placeholder="Reply"
                                                      rows="2"></textarea>
                                            </div>
                                            <button class="btn btn-success btn-sm">Reply</button>
                                        </div>
                                    </div>
                                </form>

                                <!-- comment -->
                                <div class="media">
                                    <div class="media-left">

                                    </div>
                                    <div class="media-body">
                                        <div class="media-heading">
                                            <small>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmo</small> <span class="time">1 minutes ago</span>
                                            <a href="#" class="reply">Ram Thapa</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- /comment -->
                            </div>
                        </div>
                        {% endfor %}
                        <!-- /comment -->
                    </div>
                </div>
                <!-- /comments -->


                <!-- reply -->

                <!-- /reply -->
            </div>
            <!-- /Post content -->

            <!-- aside -->
            <div class="col-md-4">
                <!-- ad -->
                <div class="aside-widget text-center">
                    <a href="#" style="display: inline-block;margin: auto;">
                        <img class="img-responsive" src="./img/ad-1.jpg" alt="">
                    </a>
                </div>
                <!-- /ad -->

                <!-- post widget -->
                <div class="aside-widget">
                    <div class="section-title">
                        <h4>Similar Posts</h4>
                    </div>

                    <div class="post post-widget">
                        <div class="post-body">
                            <p><a href="blog-post.html">Tell-A-Tool: Guide To Web Design And
                                Development Tools</a></p>
                        </div>
                    </div>

                    <div class="post post-widget">
                        <div class="post-body">
                            <p><a href="blog-post.html">Pagedraw UI Builder Turns Your Website
                                Design Mockup Into Code Automatically</a></p>
                        </div>
                    </div>

                </div>

                <!-- catagories -->
                <div class="aside-widget">
                                <div class="divider mb-4"></div>

                    <div class="category-widget">
                        <ul>
                            {% for category in categories %}
                            <li><a href="#" class="cat-1">{{category.title}}<span>{{category.category_questions.all.count}}</span></a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /aside -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>

{% endblock %}

{% block extra_scripts %}

<script>
  $("#formButton").click(function() {
    $("#form1").toggle();
  });

</script>
<script>
    $("#commentButton").click(function(){
    $("#commentForm").toggle();
    });
</script>
<script>

{% for answer in question.answers.all %}
  $("#commentButton{{answer.pk}}").click(function() {
    $("#commentForm{{answer.pk}}").toggle();
  });
{% endfor %}


</script>
<script type="text/javascript">
     $(function(){
    var $qVoteForm = $('#q-vote-form')
    $qVoteForm.submit(function(e){
      e.preventDefault();
      e.stopPropagation();
      var $formData = $(this).serialize()
      var $thisURL = $qVoteForm.attr('action')
      $.ajax({
         method: "POST",
         url: $thisURL,
         data: $formData,
         dataType:'json',
         csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
         success: function (data, textStatus, jqXHR){
              $('#success-message').html(data.msg).removeClass('btn btn-success').addClass('btn btn-danger disabled');
               console.log(data);
                },

      });

 });

  });

</script>





{% endblock %}