{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block content %}
{% block extra_css %}

{% endblock %}
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- Post content -->
            <div class="col-md-8">
                <div class="section-row ">
                    <div class="main-post ">
                        <h4>Question:
                        </h4>
                        <p>{{question.question}}</p>
                        <div class="post-comments">
                            <div class="media">
                                <div class="media-body">
                                    <div class="card pull-right text-white bg-secondary mb-3" style="width: 13rem;">
                                        <div class="media-heading">
                                    <span class="time">
                                        <b>Posted by</b>
                                    </span>
                                        </div>
                                        <div class="card-body">

                                            <small>

                                                {% if question.user.profile.image %}
                                                <img class="rounded-circle img-fluid mx-auto d-block"
                                                     src="{{question.user.profile.image.url}}"
                                                     style="height: 25px; width: 25px; border-radius: 50%; object-fit: cover;">
                                                {% else %}
                                                <img class="rounded-circle img-fluid mx-auto d-block"
                                                     src="{% static 'img/no-profile.jpg' %}"
                                                     style="height: 25px; width: 25px; border-radius: 50%; object-fit: cover;">
                                                {% endif %}
                                                 <small><b>{{question.user.first_name}}
                                                     {{question.user.last_name}}</b></small><br>
                                                <small>&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;<b><b id="q-score">{{question.user.profile.score}}</b> Score</b></small><br>
                                            </small>
                                            <small class="mb-2 text-muted">
                                                <small>{{question.created|timesince}}
                                                    ago
                                                </small>
                                            </small>
                                        </div>
                                    </div>
                                    <div class="media-heading">
                                    <span class="time">
                                        <b><b id="q-vote">{{question.question_votes.all.count}}</b> Votes  15 Views</b>
                                    </span>
                                    </div>
                                    <small><b id="info" style="color:red;"></b></small>
                                    <div class="btn-toolbar">
                                        <form action="{% url 'qa:vote_ques' question.pk %}" method="post"
                                              id="q-vote-form">
                                            {% csrf_token %}
                                            <button style="margin:5px;" type="submit" id="success-message"

                                                    title="{% if not question.user == request.user %}
                                                    Once you voted you can not undo.
                                                    {% else %} You can't vote your own post{% endif %}"

                                                    class="{% if voted %}btn btn-danger btn-sm pull-left disabled{% else %} btn btn-success btn-sm pull-left{% endif %}">
                                                {% if voted %}<strong>Voted</strong>{% else %}Vote{% endif %}

                                            </button>

                                        </form>
                                         <a id="formButton">
                                        <button style="margin:5px;" class="btn btn-info btn-sm">
                                            Post an Answer
                                        </button>
                                    </a>
                                    </div>
                                    <form class="post-reply" method="post" action="{% url 'qa:post_ans' question.pk %}"
                                          id="form1" style="display:none;">
                                        {% csrf_token %}
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="form-group">
                                                    <textarea class="form-control" name="ans"
                                                              placeholder="Your Answer" rows="6"></textarea>
                                                </div>
                                                <button class="btn btn-info">Submit</button>
                                            </div>
                                        </div>
                                    </form>

                                </div>
                            </div>
                        </div>


                    </div>

                    <div class="section-row">
                    </div>
                </div>
                <div class="section-row">
                    <h4>&nbsp;{{answers.count}} Answers</h4>
                    <div class="post-comments">
                        {% for answer in answers %}
                        <!-- comment -->
                        <div class="media">
                            <div class="media-left">
                                {% if answer.user.profile.image %}
                                <img class="rounded-circle img-fluid mx-auto d-block"
                                     src="{{answer.user.profile.image.url}}"
                                     style="height: 25px; width: 25px; border-radius: 50%; object-fit: cover;">
                                {% else %}
                                <img class="rounded-circle img-fluid mx-auto d-block"
                                     src="{% static 'img/no-profile.jpg' %}"
                                     style="height: 25px; width: 25px; border-radius: 50%; object-fit: cover;">
                                {% endif %}
                            </div>
                            <div class="media-body">
                                <div class="media-heading">
                                    <h5>{{answer.user.first_name}} {{answer.user.last_name}}
                                        <small><b><b id="a-score{{answer.pk}}">{{answer.user.profile.score|intcomma}}</b> Score</b></small>
                                    </h5>
                                    <small class="mb-2 text-muted"><small>Answered {{answer.created|timesince}} ago</small>
                                        <span class="pull-right time"><b><b id="a-vote{{answer.pk}}">{{answer.answer_votes.all.count}}</b> Votes</b> </span>
                                    </small>
                                </div>
                                <p>{{answer.ans}}</p>
                                 <small><b id="a-info{{answer.pk}}" style="color:red;"></b></small>

                                <div class="btn-toolbar">
                                    <form action="{% url 'qa:vote_ans' answer.pk %}" method="post" id="a-vote-form{{answer.pk}}">
                                        {% csrf_token %}
                                        <button style="margin:5px;" type="submit" title="Once you voted you can not undo." id="a-success-message{{answer.pk}}"
                                                    class="{% if answer in a_voted_list %}btn btn-danger btn-sm pull-left disabled{% else %} btn btn-success btn-sm pull-left tip{% endif %}">
                                                {% if answer in a_voted_list %}<strong>Voted</strong>{% else %}Vote{% endif %}</button>
                                    </form>
                                    {% if answer.question.user == request.user or answer.is_accepted %}
                                     <form action="{% url 'qa:accept_ans' answer.pk %}" method="post" id="a-accept-form{{answer.pk}}">
                                        {% csrf_token %}
                                        <button style="margin:5px;" title="Once you accept the answer you can not undo." type="submit" id="a-accept{{answer.pk}}"
                                                    class="{% if answer.is_accepted %}btn btn-danger btn-sm pull-left disabled{% else %}btn btn-info btn-sm pull-left{% endif %}">
                                               {% if answer.is_accepted %}<strong>Accepted</strong>{% else %}Accept{% endif %}</button>
                                    </form>
                                    {% endif %}

                                </div>
                                <br>

                                <a id="commentButton{{answer.pk}}" style="text-decoration:none;"><h5
                                        class="text-muted">Reply</h5></a>
                                <form class="post-reply" id="commentForm{{answer.pk}}" style="display:none;">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="form-group">
                                            <textarea class="form-control" name="message" placeholder="Reply"
                                                      rows="2"></textarea>
                                            </div>
                                            <button class="btn btn-success btn-sm">Reply</button>
                                        </div>
                                    </div>
                                </form>

                                <!-- comment -->
                                <div class="media">
                                    <div class="media-left">

                                    </div>
                                    <div class="media-body">
                                        <div class="media-heading">
                                            <small>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                                                eiusmo
                                            </small>
                                            <span class="time">1 minutes ago</span>
                                            <a href="#" class="reply">Ram Thapa</a>
                                        </div>
                                    </div>
                                </div>
                                <!-- /comment -->
                            </div>
                        </div>
                        {% endfor %}
                        <!-- /comment -->
                    </div>
                </div>
                <!-- /comments -->


                <!-- reply -->

                <!-- /reply -->
            </div>
            <!-- /Post content -->

            <!-- aside -->
            <div class="col-md-4">
                <!-- ad -->
                <div class="aside-widget text-center">
                    <a href="#" style="display: inline-block;margin: auto;">
                        <img class="img-responsive" src="% static 'img/ad-1.jpg' %}" alt="">
                    </a>
                </div>
                <!-- /ad -->

                <!-- post widget -->
                <div class="aside-widget">
                    <div class="section-title">
                        <h4>Similar Posts</h4>
                    </div>

                    <div class="post post-widget">
                        <div class="post-body">
                            <p><a href="blog-post.html">Tell-A-Tool: Guide To Web Design And
                                Development Tools</a></p>
                        </div>
                    </div>

                    <div class="post post-widget">
                        <div class="post-body">
                            <p><a href="blog-post.html">Pagedraw UI Builder Turns Your Website
                                Design Mockup Into Code Automatically</a></p>
                        </div>
                    </div>

                </div>

                <!-- catagories -->
                <div class="aside-widget">
                    <div class="divider mb-4"></div>

                    <div class="category-widget">
                        <ul>
                            {% for category in categories %}
                            <li><a href="#" class="cat-1">{{category.title}}<span>{{category.category_questions.all.count}}</span></a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /aside -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>

{% endblock %}

{% block extra_scripts %}

<script>
  $("#formButton").click(function() {
    $("#form1").toggle();
  });


</script>
<script>
    $("#commentButton").click(function(){
    $("#commentForm").toggle();
    });

</script>
<script>

{% for answer in answers %}
  $("#commentButton{{answer.pk}}").click(function() {
    $("#commentForm{{answer.pk}}").toggle();
  });
{% endfor %}



</script>
<script type="text/javascript">
     $(function(){
    var $qVoteForm = $('#q-vote-form')
    $qVoteForm.submit(function(e){
      e.preventDefault();
      e.stopPropagation();
      var $formData = $(this).serialize()
      var $thisURL = $qVoteForm.attr('action')
      $.ajax({
         method: "POST",
         url: $thisURL,
         data: $formData,
         dataType:'json',
         csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
         success: function (data, textStatus, jqXHR){
                  $('#success-message').html(data.msg).removeClass('btn btn-success').addClass('btn btn-danger disabled');
              $('#q-vote').html(data.count);
              $('#q-score').html(data.score);
               console.log(data);
                },


      });

 });

  });


</script>

<script type="text/javascript">
{% for answer in answers %}
     $(function(){
    var $aVoteForm = $('#a-vote-form{{answer.pk}}')
    $aVoteForm.submit(function(e){
      e.preventDefault();
      e.stopPropagation();
      var $formData = $(this).serialize()
      var $thisURL = $aVoteForm.attr('action')
      $.ajax({
         method: "POST",
         url: $thisURL,
         data: $formData,
         dataType:'json',
         csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
         success: function (data, textStatus, jqXHR){
              $('#a-success-message{{answer.pk}}').html(data.msg).removeClass('btn btn-success').addClass('btn btn-danger disabled');
              $('#a-vote{{answer.pk}}').html(data.count);
              $('#a-score{{answer.pk}}').html(data.score);
               console.log(data);
                },
      });

 });

  });

{% endfor %}
</script>

<script type="text/javascript">
{% for answer in question.answers.all %}
     $(function(){
    var $aAcceptForm = $('#a-accept-form{{answer.pk}}')
    $aAcceptForm.submit(function(e){
      e.preventDefault();
      e.stopPropagation();
      var $formData = $(this).serialize()
      var $thisURL = $aAcceptForm.attr('action')
      $.ajax({
         method: "POST",
         url: $thisURL,
         data: $formData,
         dataType:'json',
         csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val(),
         success: function (data, textStatus, jqXHR){
              $('#a-accept{{answer.pk}}').html(data.msg).removeClass('btn btn-info').addClass('btn btn-danger disabled');
              $('#a-score{{answer.pk}}').html(data.score);
               console.log(data);
                },
      });

 });

  });

{% endfor %}
</script>
<script>
    $(document).ready(function() {
        setTimeout(function() {
            $('#info').fadeOut('slow');
        }, 3000); // <-- time in milliseconds, 1000 =  1 sec
        });

</script>



{% endblock %}